---
import Back from './topPage.astro'
---

<style>
  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .heading h1 {
    font-size: 2rem;
    margin: 0;
  }
  .heading h3 {
    font-size: 1rem;
    margin: 0;
    margin-left: 1rem;
  }
  p {
    margin: 0;
    margin-bottom: 1rem;
  }
  div {
    border: 1px solid black;
    padding: 1rem;
    margin: 2rem 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #000 0px 2px 8px;
  }
</style>

<div id="css">
  <span class="heading">
    <h1>CSS</h1>
    <h3>(Cascading Style Sheets)</h3>
  </span>
  <p>
    Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML or XML 
    (including XML dialects such as SVG, MathML or XHTML). CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
  </p>
  <p>
    CSS is designed to enable the separation of content and presentation, including layout, colors, and fonts.[3] This separation can improve content accessibility; 
    provide more flexibility and control in the specification of presentation characteristics; enable multiple web pages to share formatting by specifying the relevant 
    CSS in a separate .css file, which reduces complexity and repetition in the structural content; and enable the .css file to be cached to improve the page load speed between 
    the pages that share the file and its formatting.
  </p>
  <p>
    Separation of formatting and content also makes it feasible to present the same markup page in different styles for different rendering methods, such as on-screen, 
    in print, by voice (via speech-based browser or screen reader), and on Braille-based tactile devices. CSS also has rules for alternate formatting if the content is accessed on a mobile device.
    The name cascading comes from the specified priority scheme to determine which style rule applies if more than one rule matches a particular element. This cascading priority scheme is predictable.
    The CSS specifications are maintained by the World Wide Web Consortium (W3C). Internet media type (MIME type) text/css is registered for use with CSS by RFC 2318 (March 1998). 
    The W3C operates a free CSS validation service for CSS documents.
    In addition to HTML, other markup languages support the use of CSS including XHTML, plain XML, SVG, and XUL.
  </p>
  <Back />
</div>
